/* ====== Tổng thể trang giỏ hàng ====== */
.cart-page {
    background: #FFF6F4 !important;
    padding: 40px 0;
}


.cart-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

/* ====== Tiêu đề ====== */
.cart-title {
    font-size: 26px;
    color: #3A91D8;
    font-weight: bold;
    margin-bottom: 30px;
}

/* ====== Dòng sản phẩm ====== */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #FDAAAA;
    width: 100%;
    max-width: 1300px; 
    margin: auto;
}


.cart-page {
    background: #FFF6F4 !important;
    padding: 40px 0;
    padding-bottom: 1px;
}


.cart-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Ảnh */
.cart-left img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}



.cart-right .price {
    font-size: 18px;
    color: #3A91D8;
    margin-bottom: 4px;
}



/* Thông tin sản phẩm */
.item-info a {
    color: #3A91D8;
    font-size: 18px;
    text-decoration: none;
}
.item-info a:hover {
    text-decoration: underline;
}

.item-info p {
    margin: 3px 0;
    color: #3A91D8;
    font-size: 18px;
}


.item-info a {
    color: #3A91D8;
    font-size: 22px;
}

/* ====== Giá bên phải ====== */
.price {
    font-size: 16px;
    color: #3A91D8;
    margin-right: 20px;
}

/* ====== Nút xoá ====== */
.delete-btn {
    color: #3A91D8;
    cursor: pointer;
    font-size: 19px;
    text-decoration: none;
}
.delete-btn:hover {
    text-decoration: underline;
}

/* ====== Số lượng ====== */
.qty-control {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.qty-btn {
    background: #FDAAAA;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.qty-number {
    margin: 0 10px;
    font-size: 15px;
}

/* ====== Tổng tiền ====== */
.cart-total {
    text-align: right;
    margin-top: 10px;
    font-size: 18px;
    color: #3A91D8;
}
.cart-total span {
    font-size: 20px;
}

/* ====== Button ====== */
.cart-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 0
}


.cart-btn {
    background: #fecdcd;
    color: #3A91D8;
    padding: 12px 28px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
    text-decoration: none;
}

.cart-btn:hover {
    opacity: 0.8;
}


.cart-icon-wrap {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #FDAAAA;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

body,
.main-content,
.cart-page {
    background-color: #FFF8F6 !important;
}
.cart-empty {
    padding: 40px;
    text-align: center;
    color: #3A91D7;
    font-size: 20px;
}

.cart-empty p {
    margin-bottom: 20px;
}