body {
    margin: 0;
    background: #FFF8F6;
    font-family: "STIX Two Text";
    color: #3A91D7;
}


.product-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    gap: 80px;
    width: 85%;
    margin: 50px auto;
}

.gallery {
    width: 45%;
}

.thumb-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.thumb {
    width: 100%;
    height: 330px;            
    object-fit: cover;
    border-radius: 18px;

    border: 2px solid rgba(253,170,170,0.4); 
    background: #FFE7EC;     
}


.product-info {
    width: 30%;
}

.product-info h2 {
    font-size: 25px;
    font-weight: 500;    /* chữ không đậm */
    color: #3A91D7;
    margin-bottom: 13px;
}


.price {
    font-size: 25px;
    color: #3A91D7 !important; 
    margin-bottom: 25px;
}


.option-row {
    margin-bottom: 25px;
}

.option-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #3A91D7;
}

.options label {
    margin-right: 18px;
    font-size: 20px;
    cursor: pointer;
}

.options input[type="radio"] {
    accent-color: #FDAAAA;
    transform: scale(1.3);
    margin-right: 4px;
}


.voucher-btn {
    width: 100%;
    padding: 18px;
    text-align: center;
    font-size: 22px;
    background: transparent;     
    border: 2px solid #FFE7EC;      
    border-radius: 0;               
    color: #3A91D7;                  
    cursor: pointer;
    margin: 20px 0;
}



.options-inline input[type="radio"],
.options input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    border: 2px solid #fadae1;  
    background-color: transparent;

    cursor: pointer;
    margin-right: 6px;
}


.options-inline input[type="radio"]:checked,
.options input[type="radio"]:checked {
    background-color: #FDAAAA;   
    border-color: #FDAAAA;    
}


.quantity-box {
    margin-top: 25px;
    font-size: 22px;
    color: #3A91D7;
}


.quantity-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* đẩy nhóm nút sang phải */
.qty-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.qty-btn {
    background: none;
    border: none;
    color: #3A91D7;
    font-size: 26px;
    cursor: pointer;
    padding: 5px 10px;
}

.qty-number {
    font-size: 22px;
    color: #3A91D7;
}

.qty-title {
    font-size: 22px;
    color: #3A91D7;
}


.add-cart {
    width: 100%;
    padding: 18px;
    background: #FFE7EC;
    border-radius: 35px;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #3A91D7;
    cursor: pointer;
    border: none;
}


.buy-now {
    width: 100%;
    padding: 18px;
    background: #FFE7EC;
    border-radius: 35px;
    font-size: 24px;
    text-align: center;
    color: #3A91D7;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}



.option-title-inline {
    display: flex;
    align-items: center;
    gap: 25px;
}

.options-inline label {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.options-inline input[type="radio"] {
    accent-color: #FDAAAA;
    transform: scale(1.3);
    margin-right: 4px;
}

.product-page, 
.product-page * {
    color: #3A91D7 !important;
}


footer.footer {
    margin-top: 10px !important;
}
